/* .head{
    background-color: cadetblue;
}

.name-headline{
    background-color: burlywood;
}

.contact{
    background-color: darkgray;
}

.links{
    background-color: darkkhaki;
}

.card{
    background-color: antiquewhite;
}
 */
 *{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

.card{
    width: 500px;
    max-width: calc(100vw-50px);
    border-radius: 18px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    overflow-y: hidden;
   /*  background-image: url('assets/background-image.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(213, 225, 234);
    opacity: 0.6;
    background-image: linear-gradient(to right, #cfb53b, #000000 );
    opacity: 0.8;
}
.profile-image{
    text-align: center;
}
img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    padding: 2px;
    background-color: #cfb53b;
    margin-top: -100px;
    object-fit: cover;
    opacity: 1;   
}
.head{
    text-align: center;
    padding: 10px;
    margin: auto;
}

h1{
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.head h2{
    font-size: 1.5em;
}

.head span{
    font-size: 1.2em;
}

.head p{
    font-size: 1.5em;
    position: relative;
    right: 5px;
}

.head i{
    position: relative;
    top: -2px;
    right: 3px;
}

.contact{
    padding: 10px;
    
}

.contact h2{
    font-size: 1.6em;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact h3{
    font-size: 1.4em;
}

.contact p{
    font-size: 1.2em;
    border-bottom: 1px solid gray;
    margin-inline: 12%;
}

.contact i{
    color: rgb(37, 59, 70);
    opacity: 1.5;
    position: relative;
    bottom: -20px;
    padding-left: 5px;
}

.footer{
    padding: 10px;
    margin: auto;
    text-align: center;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    padding: 10px;
}

li i{
    color: rgb(125, 129, 124);
    opacity: 10;
}

li i:hover{
    color: rgb(14, 114, 207);
}
            /*profile image transform*/
img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}

img{
    filter: grayscale(50%);
}

img:hover{
    filter: grayscale(20%);
}

        /*footer links tranform*/

.scale-1:hover{
    transform: scale(1.1);
}
.scale-2:hover{
    transform: scale(1.1);
}
.scale-3:hover{
    transform: scale(1.1);
}
.scale-4:hover{
    transform: scale(1.1);
}

.card{
    box-shadow: rgba(39, 38, 38, 0.5) 10px 10px 80px;
}

.head{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    
}

.contact{
    background-color: white ;
}

.name-headline h3{
    padding-bottom: 20px;
}

.name-headline i{
    color: rgb(241, 241, 241);
}

.footer{
    background-color: rgba(199, 199, 199, 0.8);
}

.card{
    padding: 2px;
    background-color: #cfb53b;
}

.footer{
    border-top: 1px solid;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.logo-content{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 3rem;
    animation-name: brand-logo;
    animation-duration: 20s;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
}
.logo-content img{
    border-radius: 40%;
}
@keyframes brand-logo{
    0% {right: 0;}
    50% {right: 300px;}
    100% {right: 600px;}
}

@media screen and (max-width: 600px) {
    .card{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .contact p{
        position: relative;
        left: 20px;
        font-size: 1rem;
    }
    .contact h3 {
        font-size: 1.1rem;
    }
    .name-headline h1{
        font-size: 1.5rem;
    }
    .name-headline h2{
        font-size: 1.1rem;
    }
    .name-headline p{
        font-size: 1.1rem;
    }
    .contact h2{
        font-size: 1.3rem;
    }
    .links i{
        width: 27px;
    }
    img{
        width: 150px;
        height: 150px;
        margin-top: -85px;
    }
    .logo-content{
        position: absolute;
        right: 0;
        margin: 0;
        margin-right: 0.2rem;
        animation-name: brand-logo;
        animation-duration: 20s;
        animation-direction: alternate-reverse;
        animation-iteration-count: 1;
    }
    .logo-content img{
        border-radius: 40%;
        width: 5rem;
        height: 5rem;
    }
    @keyframes brand-logo{
        0% {right: 0;}
        50% {right: 100px;}
        100% {right: 200px;}
    }
}
@media (prefer-color-sheme: dark){
    html body{
        background-color: #000000;
        color: white;
        opacity: 0.4;
    }
}
